<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
		<add name="defaultConnection" connectionString="server=localhost;database=plating_shop;userid=root;password=root;" providerName="MySql.Data.MySqlClient" />
		<add name="prodConnection" connectionString="server=localhost;database=plating_shop;userid=root;password=root;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="isFirstTimeOpened" value="true"/>
		<add key="AppName" value="Mangal Murti Vibrator Shop"/>
	</appSettings>
</configuration>