<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add
			name="defaultConnection"
			connectionString="nPmCpinXPS+vXvEzNBoO4G0hJ9HbZToIrZP4tzWMFlpTjEuaDiIMN88grETrbs2gnCD6FAEcZtHTRQ+tO/gE66QoelQtk9tEPPNqE2EE3OXuroTgrobTtk+fW1Jgn8xyUI1PIHkUJBXayc5f4ZpCpQ=="
			providerName="MySql.Data.MySqlClient" 
		/>
	</connectionStrings>
	<appSettings>
		<add key="isFirstTimeOpened" value="true"/>
		<add key="AppName" value="Mangal Murti Vibrator Shop"/>
		<add key="developer" value="sagark.kale@hotmail.com"/>
	</appSettings>
</configuration>